.card {
	background    : var(--color-white);
	border-radius : 32px;
	box-shadow    : var(--color-grey) 0 70px 30px -50px;
	height        : 20rem;
	padding       : 3px;
	position      : relative;
	transition    : all 0.5s ease-in-out;
	width         : 20rem;
}

.card .mail {
	background : transparent;
	border     : none;
	position   : absolute;
	right      : 2rem;
	top        : 1.4rem;
}

.card .mail svg {
	stroke       : var(--color-black);
	stroke-width : 3px;
}

.card .mail svg:hover {
	stroke : var(--color-green);
}

.card .profilePic {
	border        : 0 solid var(--color-black);
	border-radius : 29px;
	height        : calc(100% - 6px);
	left          : 3px;
	overflow      : hidden;
	position      : absolute;
	top           : 3px;
	transition    : all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
	width         : calc(100% - 6px);
	z-index       : 1;
}

.card .profilePic img {
	height             : 100%;
	-o-object-fit      : cover;
	object-fit         : cover;
	-o-object-position : 0 0;
	object-position    : 0 0;
	transition         : all 0.5s ease-in-out 0s;
	width              : 100%;
}

.card .profilePic svg {
	height             : 100%;
	-o-object-fit      : cover;
	object-fit         : cover;
	-o-object-position : 0 0;
	object-position    : 0 0;
	transform-origin   : 45% 20%;
	transition         : all 0.5s ease-in-out 0s;
	width              : 100%;
}

.card .bottom {
	background    : var(--color-black);
	border-radius : 29px;
	bottom        : 3px;
	box-shadow    : rgba(96, 75, 74, 0.1882352941) 0 5px 5px 0 inset;
	left          : 3px;
	overflow      : hidden;
	position      : absolute;
	right         : 3px;
	top           : 80%;
	transition    : all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
	z-index       : 2;
}

.card .bottom .content {
	bottom   : 0;
	height   : 160px;
	left     : 1.5rem;
	position : absolute;
	right    : 1.5rem;
}

.card .bottom .content .name {
	color       : var(--color-white);
	display     : block;
	font-size   : 1.2rem;
	font-weight : bold;
}

.card .bottom .content .aboutMe {
	color      : var(--color-white);
	display    : block;
	font-size  : 0.9rem;
	margin-top : 1rem;
}

.card .bottom .bottomBottom {
	align-items     : center;
	bottom          : 1rem;
	color           : var(--color-white);
	display         : flex;
	font-size       : 0.8rem;
	justify-content : space-between;
	left            : 1.5rem;
	position        : absolute;
	right           : 1.5rem;
}

.card .bottom .bottomBottom .button {
	background    : var(--color-white);
	border        : none;
	border-radius : 20px;
	box-shadow    : rgba(165, 132, 130, 0.1333333333) 0 5px 5px 0;
	color         : var(--color-black);
	font-size     : 0.6rem;
	padding       : 0.4rem 0.6rem;
}

.card .bottom .bottomBottom .button:hover {
	background : var(--color-green);
	color      : var(--color-white);
}

.card:hover {
	border-top-left-radius : 55px;
}

.card:hover .bottom {
	border-radius : 80px 29px 29px 29px;
	top           : 20%;
	transition    : all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.card:hover .profilePic {
	aspect-ratio  : 1;
	border        : 7px solid var(--color-black);
	border-radius : 50%;
	box-shadow    : rgba(96, 75, 74, 0.1882352941) 0 5px 5px 0;
	height        : 100px;
	left          : 10px;
	top           : 10px;
	transition    : all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
	width         : 100px;
	z-index       : 3;
}

.card:hover .profilePic:hover {
	border-radius : 0;
	transform     : scale(1.3);
}

.card:hover .profilePic img {
	-o-object-position : 0 1rem;
	object-position    : 0 1rem;
	transform          : scale(1.8);
	transition         : all 0.5s ease-in-out 0.5s;
}

.card:hover .profilePic svg {
	transform  : scale(2.5);
	transition : all 0.5s ease-in-out 0.5s;
}