.listing-editable-image-container {
	align-items     : start;
	display         : flex;
	justify-content : center;
	position        : relative;
}

.listing-editable-image-container button {
	position : absolute;
	right    : 0;
	top      : 0;
}

.listing-editable-image-container img {
	max-height : 50rem;
}

/* Availability */

.listing-availability-container {
	align-content   : start;
	border          : solid 0.3rem var(--color-green);
	border-radius   : var(--border-radius);
	display         : flex;
	flex-flow       : column wrap;
	gap             : 1rem;
	justify-content : center;
	padding         : 1rem;
	position        : relative;
}

.listing-availability-container div, .listing-availability-container input {
	min-width : 5rem;
	width     : 100%;
}

.listing-availability-container-delete-button {
	padding  : 0.5rem 1rem;
	position : absolute;
	right    : -22px;
	top      : -15px;
}
