:root {
	--padding       : 2rem;
	--color-black   : #000000;
	--color-green   : #50C878;
	--color-grey    : #808080;
	--header-height : 7rem;
	--color-white   : #FFFFFF;
}

* {
	box-sizing  : border-box;
	font-family : "Inter", sans-serif;
	margin      : 0;
	padding     : 0;
}

a {
	text-decoration : none;
}

main {
	display : flex;
	width   : 100%;
}

#app {
	display   : flex;
	flex-flow : column;
	width     : 100%;
}

.page-container {
	align-content   : center;
	align-items     : center;
	display         : flex;
	justify-content : center;
	min-height      : calc(100vh - var(--header-height));
	padding         : var(--header-height) var(--padding);
	position        : relative;
	width           : 100%;
}

/* Header */

header {
	align-items     : center;
	display         : flex;
	height          : var(--header-height);
	justify-content : space-between;
	padding         : 0 var(--padding);
	position        : relative;
	width           : 100%;
}

.header-panel {
	align-items : center;
	display     : flex;
	gap         : 3rem;
	height      : 100%;
}

.header-panel ul {
	display   : flex;
	font-size : 1.5rem;
	gap       : 5rem;
	height    : 100%;
}

.header-panel ul li {
	align-items : center;
	display     : flex;
	height      : 100%;
}

.header-panel ul li a {
	color       : var(--color-black);
	display     : flex;
	font-weight : bold;
}

.header-panel ul li a:hover {
	border-bottom  : 0.2rem solid var(--color-green);
	padding-bottom : 0.2rem;
}

.header-green-link {
	background-color : var(--color-green);
	border-radius    : 1.5rem;
	color            : var(--color-white);
	padding          : 0.8rem;
}

.icon {
	display : flex;
	gap     : 0.5rem;
	height  : 100%;
}

.icon img {
	height : 80%;
	width  : 100%;
}

header select {
	appearance       : auto;
	background-color : var(--color-white);
	border           : none;
	border-radius    : 1rem;
	font-size        : 1rem;
	font-weight      : bold;
}