* {
	box-sizing  : border-box;
	font-family : "Inter", sans-serif;
	margin      : 0;
	padding     : 0;
}

:root {
	--padding                    : 2rem;
	--color-black                : #000000;
	--color-blue                 : #5092FF;
	--color-cyan                 : #68EDCB;
	--color-green                : #50C878;
	--color-grey                 : #808080;
	--footer-height              : 14rem;
	--header-height              : 7rem;
	--dashboard-left-panel-width : 25%;
	--color-light-grey           : #EAEAEA;
	--border-radius              : 1rem;
	--color-red                  : #F11717;
	--color-white                : #FFFFFF;
	--text-width-span            : 70%;
	--color-yellow               : #E17E11;
}

#app {
	display    : flex;
	flex-flow  : column;
	min-height : 100vh;
	position   : relative;
	width      : 100%;
}

a {
	color           : var(--color-black);
	cursor          : pointer;
	text-decoration : none;
}

button {
	background-color : var(--color-green);
	border           : none;
	border-radius    : var(--border-radius);
	color            : var(--color-white);
	cursor           : pointer;
	font-weight      : bold;
	padding          : calc(var(--padding) / 2) var(--padding);
}

textarea {
	max-height : 100vh;
	min-height : 30vh;
	resize     : vertical;
}

input, textarea, select, option {
	border        : 1px solid var(--color-black);
	border-radius : var(--border-radius);
	padding       : calc(var(--padding) / 2);
}

li {
	list-style : none;
}

img {
	max-height : 100%;
	max-width  : 100%;
	object-fit : cover;
	overflow   : auto;
}

pre {
	white-space : -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space : -pre-wrap; /* Opera 4-6 */
	white-space : -o-pre-wrap; /* Opera 7 */
	white-space : pre-wrap; /* Since CSS 2.1 */
	word-wrap   : break-word; /* Internet Explorer 5.5+ */
}

table, th, td {
	border-collapse : collapse;
	padding         : calc(var(--padding) / 2);
	text-align      : center;
}

thead {
	background-color : var(--color-green);
	color            : var(--color-white);
}

tr {
	border-bottom : 1px solid var(--color-black);
}

.green-text {
	color : var(--color-green);
}

.red-text {
	color : var(--color-red);
}

.delete {
	background-color : var(--color-red);
}

.warning {
	background-color : var(--color-yellow);
}

.hidden {
	display : none;
}

.flex-horizontally-center {
	display         : flex;
	justify-content : center;
	text-align      : center;
}

.flex-vertically-centered {
	align-content : center;
	align-items   : center;
	display       : flex;
	flex-flow     : column;
}

.flex-left-content {
	align-items : flex-start;
	display     : flex;
	text-align  : start;
}

.flex-right-content {
	align-items : flex-end;
	display     : flex;
	margin-left : calc(100% - var(--text-width-span));
	text-align  : end;
}

.space-filler {
	height : 100%;
	width  : 100%;
}

/* The content of a page is wrapped in this class to keep the padding and footer in the right position */
.page-container {
	min-height : calc(100vh - var(--header-height));
	padding    : 0 var(--padding) calc(var(--footer-height) + var(--padding)) var(--padding);
	position   : relative;
	width      : 100%;
}
