:root {
	--padding                    : 2rem;
	--color-black                : #000000;
	--color-blue                 : #5092FF;
	--color-cyan                 : #68EDCB;
	--color-green                : #50C878;
	--color-grey                 : #808080;
	--footer-height              : 14rem;
	--header-height              : 7rem;
	--dashboard-left-panel-width : 35%;
	--color-red                  : #F11717;
	--color-white                : #FFFFFF;
	--color-yellow               : #E17E11;
}

* {
	box-sizing  : border-box;
	font-family : "Inter", sans-serif;
	margin      : 0;
	padding     : 0;
}

a {
	color           : var(--color-black);
	text-decoration : none;
}

button {
	background-color : var(--color-green);
	border           : none;
	border-radius    : 1rem;
	color            : var(--color-white);
	cursor           : pointer;
	font-weight      : bold;
	padding          : calc(var(--padding) / 2) var(--padding);
}

main {
	display    : flex;
	flex-flow  : column;
	min-height : 100vh;
	position   : relative;
	width      : 100%;
}

textarea {
	max-height : 100vh;
	min-height : 20vh;
	resize     : vertical;
}

input, textarea, select, option {
	border        : 1px solid var(--color-black);
	border-radius : 1rem;
	padding       : calc(var(--padding) / 2);
}

li {
	list-style : none;
}

.green-text {
	color : var(--color-green);
}

.red-text {
	color : var(--color-red);
}

.delete {
	background-color : var(--color-red);
}

.warning {
	background-color : var(--color-yellow);
}

.hidden {
	display : none;
}

/* Label + input */
.input-field-container {
	display   : flex;
	flex      : 1;
	flex-flow : column;
	gap       : 1rem;
	min-width : 10rem;
}

.input-field-container:has(input[type="checkbox"]) {
	flex-direction : row;
}

.page-container {
	min-height : calc(100vh - var(--header-height));
	padding    : 0 var(--padding) var(--header-height) var(--padding);
	position   : relative;
	width      : 100%;
}

.flex-center {
	align-content   : center;
	align-items     : center;
	display         : flex;
	justify-content : center;
}

/* Header */

header {
	align-items     : center;
	display         : flex;
	height          : var(--header-height);
	justify-content : space-between;
	padding         : 0 var(--padding);
	position        : relative;
	width           : 100%;
}

.header-panel {
	align-items : center;
	display     : flex;
	gap         : 3rem;
	height      : 100%;
}

.header-panel ul {
	display   : flex;
	font-size : 1.5rem;
	gap       : 5rem;
	height    : 100%;
}

.header-panel ul li {
	align-items : center;
	display     : flex;
	height      : 100%;
}

.header-panel ul li a {
	color       : var(--color-black);
	display     : flex;
	font-weight : bold;
}

.header-panel ul li a:hover {
	color : var(--color-green);
}

.header-green-link {
	background-color : var(--color-green);
	border-radius    : 1.5rem;
	color            : var(--color-white);
	padding          : 0.8rem;
}

.icon {
	display : flex;
	gap     : 0.5rem;
	height  : 100%;
}

.icon img {
	height : 80%;
	width  : 100%;
}

header select {
	appearance       : auto;
	background-color : var(--color-white);
	border           : none;
	border-radius    : 1rem;
	font-size        : 1rem;
	font-weight      : bold;
}

/* Footer */
footer {
	align-items     : center;
	background      : var(--color-cyan);
	border-radius   : 1rem;
	bottom          : 0;
	display         : flex;
	font-size       : 1.5rem;
	gap             : var(--padding);
	height          : var(--footer-height);
	justify-content : space-between;
	padding         : 0 var(--padding);
	position        : absolute;
	width           : 100%;
}

footer .footer-links {
	display : flex;
	gap     : 1rem;
}

.footer-links a {
	color : var(--color-black);
}

.footer-links a:hover {
	color : var(--color-white);
}

.copyright {
	color     : var(--color-black);
	font-size : 12px;
}

/* Popup message */
.popup-confirmation {
	background-color : rgba(0, 0, 0, 0.5);
	bottom           : 0;
	height           : 100%;
	left             : 0;
	position         : fixed;
	right            : 0;
	top              : 0;
	width            : 100%;
}

.popup-confirmation-content {
	align-items     : center;
	background      : var(--color-white);
	border-color    : var(--color-black);
	border-radius   : 1rem;
	bottom          : 30%;
	box-shadow      : rgba(0, 0, 0, 0.35) 0 5px 15px;
	display         : flex;
	flex-flow       : column;
	gap             : 1.5rem;
	justify-content : center;
	left            : 30%;
	position        : absolute;
	right           : 30%;
	top             : 30%;
}

.popup-confirmation-buttons {
	display : flex;
	gap     : 1rem;
}

