{% load django_vite %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>IRentalize</title>
    {% load static %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>
    {#    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}"/>#}
    <link rel="icon" type="image/x-icon" href="{% static "assets/favicon.ico" %}"/>

    {% vite_hmr_client %}
    {% vite_react_refresh %}

    {% vite_asset 'src/main.tsx' %}
    {% vite_asset 'static/css/main.css' %}
</head>
<body>

<div id="app"></div>

{% vite_legacy_polyfills %}
</body>
</html>