.button {
	background : rgba(211, 211, 211, 0.2);
	color      : black;
	opacity    : 0.3;
	transition : background-color 0.3s ease-in-out;
}

.button:hover {
	background-color : var(--color-green);
	color            : var(--color-white);
	opacity          : 1;
}