/* Section */
.section {
	padding  : var(--padding) 0;
	position : relative;
}

.positionRight {
	display         : flex;
	justify-content : end;
}

/* Image gallery section */

.imageGallery {
	display               : grid;
	gap                   : var(--padding);
	grid-template-columns : repeat(auto-fill, minmax(20%, 1fr));
}

.imageContainer {
	align-items     : center;
	border-radius   : var(--border-radius);
	display         : flex;
	height          : auto;
	justify-content : center;
	transition      : transform 0.3s ease-in-out;
	width           : 100%;
}

.imageContainer:hover {
	cursor : pointer;
}

.imageContainer img {
	border-radius : inherit;
	max-height    : 30rem;
}

.imageContainer:hover {
	transform : scale(1.05);
}

/* Info section */

.info {
	display        : flex;
	flex-direction : column;
	gap            : var(--padding);
}

.description {
	-webkit-box-orient : vertical;
	display            : -webkit-box;
	-webkit-line-clamp : 10; /* number of lines to show */
	line-clamp         : 10;
	line-height        : 1.5rem;
	overflow           : hidden;
}

.descriptionContainer {
	position : relative;
}

.descriptionContainer .button {
	bottom : calc(var(--padding) * -1);
}

.infoDates {
	line-height : 1.5rem;
}

/* Host info section */

.hostInfo {
	display : flex;
	gap     : var(--padding);
}

/* Buttons */
.button {
	background : rgba(211, 211, 211, 0.2);
	bottom     : var(--padding);
	color      : black;
	position   : absolute;
	right      : var(--padding);
	transition : background-color 0.3s ease-in-out;
}

.button:hover {
	background-color : var(--color-green);
	color            : var(--color-white);
}
