.section {
	padding  : var(--padding) 0;
	position : relative;
}

.imageGallery {
	display               : grid;
	gap                   : var(--padding);
	grid-template-columns : repeat(auto-fill, minmax(20%, 1fr));
}

.imageContainer {
	border-radius   : var(--border-radius);
	display         : flex;
	height          : auto;
	justify-content : center;
	transition      : transform 0.3s ease-in-out;
	width           : 100%;
}

.imageContainer:hover {
	cursor : pointer;
}

.imageContainer img {
	border-radius : inherit;
	max-height    : 30rem;
}

.imageContainer:hover {
	transform : scale(1.05);
}

.info {
}

.button {
	background-color : transparent;
	bottom           : var(--padding);
	color            : black;
	position         : absolute;
	right            : var(--padding);
	transition       : background-color 0.3s ease-in-out;
}

.button:hover {
	background-color : var(--color-green);
	color            : var(--color-white);
}

.footer {
	text-align : center;
}
