.description {
	-webkit-box-orient : vertical;
	display            : -webkit-box;
	-webkit-line-clamp : 10; /* number of lines to show */
	line-clamp         : 10;
	line-height        : 1.5rem;
	overflow           : hidden;
}

.descriptionContainer {
	position : relative;
}

.descriptionContainer .button {
	bottom : calc(var(--padding) * -1);
}

/* Buttons */
.button {
	background : rgba(211, 211, 211, 0.2);
	bottom     : 0;
	color      : black;
	opacity    : 0.3;
	position   : absolute;
	right      : 0;
	transition : background-color 0.3s ease-in-out;
}

.button:hover {
	background-color : var(--color-green);
	color            : var(--color-white);
	opacity          : 1;
}