.container {
	display        : flex;
	flex-direction : column;
	gap            : 2rem;
}

.imageGallery {
	display               : grid;
	gap                   : 2rem;
	grid-template-columns : repeat(auto-fill, minmax(20%, 1fr));
}

.imageContainer {
	align-items     : center;
	border-radius   : var(--border-radius);
	display         : flex;
	height          : auto;
	justify-content : center;
	transition      : transform 0.3s ease-in-out;
	width           : 100%;
}

.imageContainer:hover {
	cursor : pointer;
}

.imageContainer img {
	border-radius : inherit;
	max-height    : 30rem;
}

.imageContainer:hover {
	transform : scale(1.05);
}

@media (max-width : 1000px) {
	.imageGallery {
		grid-template-columns : repeat(auto-fill, minmax(30%, 1fr));
	}
}

@media (max-width : 800px) {
	.imageGallery {
		grid-template-columns : repeat(auto-fill, minmax(40%, 1fr));
	}
}

@media (max-width : 550px) {
	.imageGallery {
		grid-template-columns : repeat(auto-fill, minmax(50%, 1fr));
	}
}

