header {
	align-items     : center;
	border-radius   : var(--border-radius);
	display         : flex;
	height          : var(--header-height);
	justify-content : space-between;
	padding         : 0 var(--padding);
	position        : relative;
	width           : 100%;
}

.header-links {
	border-radius   : var(--border-radius);
	display         : flex;
	flex-direction  : row;
	gap             : 3rem;
	height          : 100%;
	justify-content : flex-end;
	width           : 100%;
	z-index         : 1;
}

header select {
	appearance       : auto;
	background-color : var(--color-white);
	border           : none;
	border-radius    : var(--border-radius);
	font-size        : 1rem;
	font-weight      : bold;
	min-width        : 7rem;
}

.header-panel {
	align-items : center;
	display     : flex;
	flex-grow   : 1;
	height      : 100%;
}

.header-panel-search {
	align-items : center;
	display     : flex;
	gap         : 2rem;
	height      : 100%;
}

.header-panel-bundle {
	display               : grid;
	gap                   : 2rem;
	grid-template-columns : auto auto;
}

.header-green-link {
	background-color : var(--color-green);
	border-radius    : var(--border-radius);
	color            : var(--color-white);
	padding          : 0.8rem;
}

/* Animation of the navigation bar */
.NavAnimation-enter {
	opacity : 0;
}

.NavAnimation-enter-active {
	opacity    : 1;
	transition : opacity 500ms ease-in;
}

.NavAnimation-exit {
	opacity : 1;
}

.NavAnimation-exit-active {
	opacity    : 0;
	transition : opacity 500ms ease-in;
}

/* Search form container */
.search-form-container {
	border-radius : var(--border-radius);
	box-shadow    : var(--color-black) 0 0 0.5rem;
	left          : 50%;
	opacity       : 0;
	position      : absolute;
	top           : 100%;
	transform     : translateX(-50%);
	transition    : opacity 2s ease-in-out, visibility 0.3s ease-in-out;
	visibility    : hidden;
	width         : 80%;
	z-index       : 10;
}

.search-form-container.active {
	opacity    : 100;
	visibility : visible;
}

@media (max-width : 1400px) {
	.header-links {
		align-items    : center;
		background     : var(--color-light-grey);
		flex-direction : column;
		height         : auto;
		left           : 0;
		padding        : var(--padding);
		position       : absolute;
		top            : 100%;
		
	}
	
	.header-panel {
		justify-content : center;
		width           : 80%;
	}
	
	.header-panel-bundle {
		align-items    : center;
		display        : flex;
		flex-direction : column;
		gap            : 2rem;
		width          : 100%;
	}
	
	.header-green-link-button {
		text-align : center;
		width      : 80%;
	}
}

@media (max-width : 600px) {
	.header-panel, .header-green-link-button, .header-panel-bundle {
		width : 100%;
	}
}