/* Text */
.description {
	-webkit-box-orient : vertical;
	display            : -webkit-box;
	font-size          : 1rem;
	-webkit-line-clamp : 10; /* number of lines to show */
	line-clamp         : 10;
	line-height        : 1.5rem;
	overflow           : hidden;
}

.descriptionContainer {
	position : relative;
}

/* Dates */
.info {
	display        : flex;
	flex-direction : column;
	gap            : var(--padding);
}

.infoDates {
	line-height : 1.5rem;
}

.infoDatesContainer {
	display : flex;
	gap     : var(--padding);
}

/* Button */
.buttonContainer {
	display         : flex;
	flex            : 1;
	justify-content : flex-end;
}

