.dateRangeContainer {
	display         : flex;
	gap             : 2rem;
	justify-content : center;
}

.errorContainer {
	-webkit-box-orient : vertical;
	display            : -webkit-box;
	-webkit-line-clamp : 10; /* number of lines to show */
	line-clamp         : 10;
	line-height        : 1.5rem;
	overflow           : hidden;
}

.errorText {
	color : red;
}

.priceContainer {
	display        : flex;
	flex-direction : column;
	gap            : 1rem;
}

@media (max-width : 768px) {
	.dateRangeContainer {
		flex-direction : column;
	}
}
