footer {
	align-items     : center;
	background      : #D7D1D2;
	/*border-radius   : var(--border-radius);*/
	bottom          : 0;
	display         : flex;
	font-size       : 1.5rem;
	gap             : var(--padding);
	height          : var(--footer-height);
	justify-content : space-between;
	/*margin          : 0 var(--padding);*/
	padding         : 0 var(--padding);
	position        : absolute;
	/*width           : calc(100% - (var(--padding) * 2));*/
	width           : 100%;
}

footer .footer-links {
	display : flex;
	gap     : 1rem;
}

.footer-links a {
	color       : var(--color-black);
	font-weight : bold;
}

.footer-links a:hover {
	/*color : var(--color-white);*/
	color : var(--color-green);
}

.copyright {
	color     : var(--color-black);
	font-size : 12px;
}