.listing-search-form {
	background-color : var(--color-white);
	border-radius    : inherit;
	display          : flex;
	justify-content  : space-between;
	padding          : var(--padding);
}


.listing-search-form.active header {
	height : calc(var(--header-height) * 2);
}